


.content_fast{
    display: flex;
    padding:10px ;
    background-color: rgb(24, 224, 224);
}
.adjust-height{
    background-color: blueviolet;
    height: 30vh;
    width: 30vw;
    margin-right: 10px;
}
.black{
    background-color: rgb(226, 43, 137);
    height: 30vh;
    width: 70vw;
}
.center_second{
    display:flex;
    width: 70vw;

}
.red{
    background-color: rgb(242, 16, 16);
    height: 40vh;
    width: 50vw;
}
.blue{
    background-color: blue;
    height: 40vh;
    width:20vw ;
}
.devided{
    display: flex;
}
.green{
    background-color:yellowgreen ;
    height:70vh ;
    display: flex;
}

.bgreen{
    background-color: rgb(242, 222, 5);
    height: 70vh;
    width: 28vw;
}
