*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0px;
    background: rgba(176, 247, 227, 0.534);
    height: 100px;
    
    
}
.cover_photo{
    background: url(./cover2.png);
    background-size: cover;
    height: 800px;
}
header img{
    width: 150px;
    height: 100px;
    border-radius: 10px;
}
nav{
    display: flex;
    align-items: center;

}
li{
    list-style: none;

}
a{
    text-decoration: none;
    color: rgb(20, 17, 22);
    font-size: 30px;

}
.three{
    display: flex;
}
li{
    margin: 20px;
}
li>a{
    font-size: 20px;
    font-weight: mediun;
    
}
.fast{
    position: relative;
}
.second{
    position: absolute;
    top: 50px;
    width: 100px;
    background: rgb(209, 219, 221);
    display: none;
}
.fast:hover .second{
    display: block;
}
li:hover a{
    color:yellowgreen;
}
h1{
    color: black;
    font-size: 100PX;
    font-family: Roboto;
    font-style: italic;
}
button{
    font-size: 50px;
    background-color: yellowgreen;
    margin-left: 150px;
    border-radius: 10px;
    border: darkgrey;
    padding: 10px;
    font-family: Roboto;
    font-style: italic;

}
.fa-envelope-o{
    font-size: 35px;
    color: blue;

    
}
.top_bar{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: white;
    
}
.social_info{
    display: flex;
    gap: 15px;
}
.content_info{
    display: flex;
    gap: 15px;
}
.icon{
    display: flex;
    justify-content: center;
    gap: 20px;
    
    top: 0%;
    background-color: rgba(136, 197, 180, 0.534);
    
}
.icon .all_icon{
    height: 180px;
    width: 250px;
    background-color: rgba(176, 247, 227, 0.534);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    border: 2px solid chocolate;
    gap: 20px;
    box-shadow:0 0px 10px 4px rgba(33, 22, 22, 0.504);
margin-bottom: 20px;

    
}
.icon .all_icon i{
    font-size: 50px;
}
.icon .all_icon h1{
    font-size: 30px;
}
.all_icon:hover{
    background-color: rgba(50, 186, 204, 0.955);
    color: black;
}
.where{
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    border: 2px solid #5454ed;
}
.where i{
font-size: 30px;
margin: 20px;
}
.where h1{
    font-size: 35px;
}
.what{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 100%;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    background-color: rgba(136, 197, 180, 0.534);


}
.what-fast{
    background-color:rgba(136, 197, 180, 0.534) ;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.what-fast p{
    font-size: 30px;
    text-align: center;
}
.img{
    width: 200px;
    height: 150px;
    
}
.your-class { 
    
    background-color: rgba(136, 197, 180, 0.534);
    

}
.your-class div{ 
    display: flex;
    justify-content: center;
  
    

}
.your-class div img{
    height: 400px;
    width: 500px;
    margin: 0 auto;
}
.slick-prev::before,
.slick-next::before {
    color: yellowgreen;
    font-size: 2.5rem;
}

.slick-prev,
.slick-next {
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;
}

.slick-list {
    width: 95%;
    margin: 0 auto;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}
.slick-dots{
    background-color: rgba(136, 197, 180, 0.534);
}
.slick-dots li.slick-active button:before {
    opacity: .95;
    color:yellowgreen;
}